body {
    background: white;
}

.card-title {
    font-weight: bolder;
}

.card-footer {
    background: white;
}

.fancy {
    font-size: 100px;
    color: green;
  }

  .hide {
    display: none;
  }